- sorted = responses.sort { |a, b| (a.date || Time.zone.now.end_of_year) <=> (b.date || Time.zone.now.end_of_year) }

- sorted.group_by { |br| br.response }.each do |response, selected|
  - count = selected.length
  - total = responses.length
  - percent = (total.zero? ? 0 : ((count * 100.0) / total).round)

  .questionable-result-option
    .d-flex
      .mr-auto= response.blank? ? 'None of the Above' : response.strftime('%F')
      .text-muted #{count} (#{percent}%)

    .progress.mb-3
      .progress-bar{role: 'progressbar', 'aria-valuenow': count, 'aria-valuemin': 0, 'aria-valuemax': total, style: "width: #{percent}%"}
